<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Character</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="/assets/maker.js" type="text/babel"></script>
  <script src="/assets/items.js"></script>
  <script type="text/javascript">
         window.onload = function(){   
            let selClass = document.getElementById('playerType');
            for(var i = 0; i < classes.length; i++) {
                let opt = document.createElement('option');
                opt.innerHTML = classes[i].name;
                opt.value = i;
                selClass.appendChild(opt);
            }
    
            let selWeapon = document.getElementById('weaponType');
            for(var i = 0; i < weapons.length; i++) {
                let opt = document.createElement('option');
                opt.innerHTML = weapons[i].name;
                opt.value = i;
                selWeapon.appendChild(opt);
            }

            // Update armor image change row
            let elem = document.getElementById('armorRowArrow');
            elem.style.display = 'none';
            elem = document.getElementById('armorRowNew');
            elem.style.display = 'none';
            setArmorMultipliers({{info.playerType}});

            // Update weapon image change row
            elem = document.getElementById('weaponRowArrow');
            elem.style.display = 'none';
            elem = document.getElementById('weaponRowNew');
            elem.style.display = 'none';
            setWeaponMultipliers({{info.weaponType}});
         };

         function onSelectWeapon(value) {
            let elem = document.getElementById('weaponRowArrow');
            elem.style.display = 'block';
            elem = document.getElementById('weaponRowNew');
            elem.style.display = 'block';
            
            document.getElementById("weaponRowNewImage").src = "/assets/img/weapons/" + value + ".png";

            setWeaponMultipliers(value);
         }

         function setWeaponMultipliers(value){
             let elem = document.getElementById('attackMultiplierWeapon');
             setValueAndColor(elem, weapons[value].attack);

             elem = document.getElementById('speedMultiplierWeapon');
             setValueAndColor(elem, weapons[value].speed);

             elem = document.getElementById('intMultiplierWeapon');
             setValueAndColor(elem, weapons[value].intelligence);
         }

         function onSelectArmor(value) {
            let elem = document.getElementById('armorRowArrow');
            elem.style.display = 'block';
            elem = document.getElementById('armorRowNew');
            elem.style.display = 'block';
            
            document.getElementById("armorRowNewImage").src = "/assets/img/players/" + value + ".png";

            setArmorMultipliers(value);
         }

         function setArmorMultipliers(value){
             let elem = document.getElementById('healthMultiplierArmor');
             setValueAndColor(elem, classes[value].health);

             elem = document.getElementById('speedMultiplierArmor');
             setValueAndColor(elem, classes[value].speed);

             elem = document.getElementById('intMultiplierArmor');
             setValueAndColor(elem, classes[value].intelligence);
         }

         function setValueAndColor(elem, value) {
            let str = value.toString();
            let color = 'white';
            if(value > 0) { 
                color = 'green'; 
                str = '+' + value + '%';
            }
            else if(value < 0) { 
                color = 'red'; 
                str = value + '%';
            }
            else {
                str = '+' + value + '%';
            }
            elem.innerHTML = str.fontcolor(color);
         }

      </script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body class="body">
  <nav>
    <a href="/logout" class="navlink"><p>LOGOUT</p></a>
    <a href="/lobby" class="navlink"><p>PLAY</p></a>
    <a href="/leader" class="navlink"><p>LEADERBOARD</p></a>
  </nav>
  <div class="content">
    <section id="pageRow">
      <div id="ui_left" style="height: 80%;">
        <div class="col">
            <div class="row" style="height: 15vh;">
                <div class="row" style="flex: 1; justify-content: center;">
                    <img src="/assets/img/players/{{info.playerType}}.png" style="height: 10vh; width: 10vh;" alt="domo face"/>
                </div>
                <div class="row" id="armorRowArrow" style="flex: .2; justify-content: center; display: none">
                    <img src="/assets/img/arrow.png" style="height: 2vh; width: 2vh;" alt="domo face"/>
                </div>
                <div class="row" id="armorRowNew" style="flex: 1; justify-content: center; display: none">
                    <img id="armorRowNewImage" style="height: 10vh; width: 10vh;" alt="domo face"/>
                </div>
            </div>
            <form class="row" id="playerTypeForm" name="playerTypeForm" action="/maker" method="POST">
                <div id="skill_left">
                    <select name="type" id="playerType" onchange="onSelectArmor(this.value)">
                        <option selected disabled>ARMOR</option>
                    </select>
                </div>
                <div id="skill_right">
                    <a type="submit" href="#" class="activatePlayerType">EQUIP</a>
                    <input id="csrf" type="hidden" name="_csrf" value={{csrfToken}} />
                </div>
            </form>
            <div class="row">
                <div id="skill_left">
                    <p>HEALTH+:</p>
                </div>
                <div id="skill_right">
                    <p id="healthMultiplierArmor">0%</p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>SPEED+:</p>
                </div>
                <div id="skill_right">
                    <p id="speedMultiplierArmor">0%</p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>INTELLIGENCE+:</p>
                </div>
                <div id="skill_right">
                    <p id="intMultiplierArmor">0%</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div id="skill_left">
                    <p>NAME:</p>
                </div>
                <div id="skill_right">
                    <p>{{info.username}}</p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>LEVEL:</p>
                </div>
                <div id="skill_right">
                    <p>{{info.level}}</p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>DISTANCE:</p>
                </div>
                <div id="skill_right">
                    <p>{{info.maxDistance}}</p>
                </div>
            </div>
        </div>
      </div>

      <div id="ui_right" style="height: 80%;">
        <div class="col">
            <div class="row" style="height: 15vh;">
                <div class="row" style="flex: 1; justify-content: center;">
                    <img src="/assets/img/weapons/{{info.weaponType}}.png" style="height: 10vh; width: 10vh;" alt="domo face"/>
                </div>
                <div class="row" id="weaponRowArrow" style="flex: .2; justify-content: center; display: none;">
                    <img src="/assets/img/arrow.png" style="height: 2vh; width: 2vh;" alt="domo face"/>
                </div>
                <div class="row" id="weaponRowNew" style="flex: 1; justify-content: center; display: none">
                    <img id="weaponRowNewImage" style="height: 10vh; width: 10vh;" alt="domo face"/>
                </div>
            </div>
            <form class="row" id="weaponTypeForm" name="weaponTypeForm" action="/maker" method="POST">
                <div id="skill_left">
                    <select name="type" id="weaponType" onchange="onSelectWeapon(this.value)">
                        <option selected disabled>WEAPON</option>
                    </select>
                </div>
                <div id="skill_right">
                    <a type="submit" href="#" class="activateWeaponType">EQUIP</a>
                    <input id="csrf" type="hidden" name="_csrf" value={{csrfToken}} />
                </div>
            </form>
            <div class="row">
                <div id="skill_left">
                    <p>ATTACK+:</p>
                </div>
                <div id="skill_right">
                    <p id="attackMultiplierWeapon">0%</p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>SPEED+:</p>
                </div>
                <div id="skill_right">
                    <p id="speedMultiplierWeapon">0%</p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>INTELLIGENCE+:</p>
                </div>
                <div id="skill_right">
                    <p id="intMultiplierWeapon">0%</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div id="skill_left">
                    <p>ATTACK:</p>
                </div>
                <div id="skill_right">
                    <p>{{info.attack}}</p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>INTELLIGENCE:</p>
                </div>
                <div id="skill_right">
                    <p>{{info.spellPower}}</p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>SPEED:</p>
                </div>
                <div id="skill_right">
                    <p>{{info.speed}}</p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>MAX HEALTH:</p>
                </div>
                <div id="skill_right">
                    <p>{{info.maxHealth}}</p>
                </div>
            </div>
        </div>
      </div>
    </section>
    <div id="domoMessage">
      <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
      <h3><span id="errorMessage"></span></h3>
      <img id="domo" src="assets/img/domo.png" alt="domo"/>
    </div>
  </div>
</body>
</html>