<html lang="en">
<head>
    <script src="https://use.fontawesome.com/b91c29a417.js"></script>
    <script> 
      const username = `{{info.username}}`;
      const level = {{info.level}};
      const attack = {{info.attack}};
      const speed = {{info.speed}};
      const exp = {{info.exp}};
      const points = {{info.points}};
      const maxDistance = {{info.maxDistance}};
      const spellPower = {{info.spellPower}};
      const maxHealth = {{info.maxHealth}};
      const type = {{info.playerType}};
      const weaponType = {{info.weaponType}};
      const room = `{{info.room}}`;
      const color = `{{info.color}}`;
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
    <script data-main="/assets/game" src="/assets/lib/require.js"></script>
</head>
<body>
    <div id="game">
        <canvas id="canvas">Please use an HTML 5 browser</canvas>
    </div>
    <div id="ui">
        <div id="ui_left">
            <div class="row">
                <div id="skill_left">
                    <p>NAME:</p>
                </div>
                <div id="skill_right">
                    <p id="name"></p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>LEVEL:</p>
                </div>
                <div id="skill_right">
                    <p id="level"></p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>EXP/MIN:</p>
                </div>
                <div id="skill_right">
                    <p id="expavg"></p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>DISTANCE::</p>
                </div>
                <div id="skill_right">
                    <p id="distance"></p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>MAX DISTANCE:</p>
                </div>
                <div id="skill_right">
                    <p id="maxdistance"></p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>PLAY TIME:</p>
                </div>
                <div id="skill_right">
                    <p id="time"></p>
                </div>
            </div>
            <div class="row" style="justify-content: space-between;">
                <div class="row">
                    <button id="quitButton">SAVE & QUIT</button>
                </div>
                <div class="row">
                    <button id="heal">HEAL</button>
                </div>
            </div>
        </div>
        <div id="ui_right">
            <div class="row">
                <div id="skill_left">
                    <a id="healthButton" class="btn" href="#"> <i class="fa fa-plus-square fa-2x"></i></a>
                    <p>MAX HP:</p>
                </div>
                <div id="skill_right">
                    <p id="health"></p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <a id="attackButton" class="btn" href="#"> <i class="fa fa-plus-square fa-2x"></i></a>
                    <p>ATTK:</p>
                </div>
                <div id="skill_right">
                    <p id="attack"></p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <a id="speedButton" class="btn" href="#"> <i class="fa fa-plus-square fa-2x"></i></a>
                    <p>SPD:</p>
                </div>
                <div id="skill_right">
                    <p id="speed"></p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <a id="spellButton" class="btn" href="#"> <i class="fa fa-plus-square fa-2x"></i></a>
                    <p>INT:</p>
                </div>
                <div id="skill_right">
                    <p id="spell"></p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>EXP:</p>
                </div>
                <div id="skill_right">
                    <p id="exp"></p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>SKILL PTS:</p>
                </div>
                <div id="skill_right">
                    <p id="points"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>