<html lang="en">
<head>
    <script src="https://use.fontawesome.com/b91c29a417.js"></script>
    <script> 
      const username = `{{info.username}}`;
      const level = {{info.level}};
      const attack = {{info.attack}};
      const speed = {{info.speed}};
      const exp = {{info.exp}};
      const points = {{info.points}};
      const maxDistance = {{info.maxDistance}};
      const spellPower = {{info.spellPower}};
      const maxHealth = {{info.maxHealth}};
      const room = `{{info.room}}`;
      const color = `{{info.color}}`;
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
    <script data-main="/assets/app" src="/assets/game/require.js"></script>
</head>
<body>
    <div id="game">
        <canvas id="canvas">Please use an HTML 5 browser</canvas>
    </div>
    <div id="ui">
        <div id="ui_left">
            <div class="row">
                <p id="name" class="row"></p>
            </div>
            <div class="row">
                <p id="level" class="row"></p>
            </div>
            <div class="row">
                <p id="expavg" class="row">0 EXP/MIN</p>
            </div>
            <div class="row">
                <p id="distance" class="row">DISTANCE:</p>
            </div>
            <div class="row">
                <p id="maxdistance" class="row">MAX DISTANCE:</p>
            </div>
            <div class="row">
                <p id="time" class="row">PLAY TIME:</p>
            </div>
            <button id="quitButton" style="text-align: center">Save and Quit</button>
        </div>
        <div id="ui_right">
            <div class="row">
                <div id="skill_left">
                    <a id="healthButton" class="btn" href="#"> <i class="fa fa-plus-square fa-2x"></i></a>
                    <p>MAX HP:</p>
                </div>
                <div id="skill_right">
                    <p id="health"></p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <a id="attackButton" class="btn" href="#"> <i class="fa fa-plus-square fa-2x"></i></a>
                    <p>ATTK:</p>
                </div>
                <div id="skill_right">
                    <p id="attack"></p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <a id="speedButton" class="btn" href="#"> <i class="fa fa-plus-square fa-2x"></i></a>
                    <p>SPD:</p>
                </div>
                <div id="skill_right">
                    <p id="speed"></p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <a id="spellButton" class="btn" href="#"> <i class="fa fa-plus-square fa-2x"></i></a>
                    <p>INT:</p>
                </div>
                <div id="skill_right">
                    <p id="spell"></p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>EXP:</p>
                </div>
                <div id="skill_right">
                    <p id="exp"></p>
                </div>
            </div>
            <div class="row">
                <div id="skill_left">
                    <p>SKILL PTS:</p>
                </div>
                <div id="skill_right">
                    <p id="points"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>