<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Character</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body style="background-color: black;">
  <nav style="height: 11vh;">
    <a href="/logout" class="navlink"><p>LOGOUT</p></a>
    <a href="/maker" class="navlink"><p>ARMORY</p></a>
    <a href="/leader" class="navlink"><p>LEADERBOARD</p></a>
  </nav>
  <input id="csrf" type="hidden" name="_csrf" value={{csrfToken}} />
  <div class="content">
    <section id="pageRow">
      <section class="col" style="margin: .5vmin; padding: 1vmin; min-height: 85vh;">
        <form id="{{info.username}}" name="deleteForm" action="/enter" method="POST" class="deleteForm">
          <button type="submit" name="{{info.username}}" href="#" class="enterGameSubmit">New Room</button>
          <input type="hidden" name="_csrf"/>
        </form>       
         {{#if rooms}}
          {{#each rooms}}
            <div class="row" style="border: 1px solid white; color: white; width: 75%; align-self: center;">
              <form class="row" style="width: 100%; justify-content: center;" id="{{this.name}}" name="deleteForm" action="/enter" method="POST" class="deleteForm">
                <button id="{{this.distance}}" type="submit" name="{{this.name}}" href="#" class="enterGameSubmit">Enter</button>
                <input type="hidden" name="_csrf"/>
              </form>
              <div class="row" style="width: 100%; justify-content: center;">
                <h3>Room: {{this.name}}</h3>
              </div>
              <div class="row" style="width: 100%; justify-content: center;">
                <h3>Players: {{this.players}}</h3>
              </div>
              <div class="row" style="width: 100%; justify-content: center;">
              <h3>Distance: {{this.distance}}</h3>
              </div>
            </div>
          {{/each}}
        {{else}}
          <h3>No Active Rooms</h3>
        {{/if}}
      </section>
    </section>
    <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
      <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo"/>
    </div>
  </div>
  <script> 
      const username = `{{info.username}}`;
      const level = {{info.level}};
      const attack = {{info.attack}};
      const speed = {{info.speed}};
      const exp = {{info.exp}};
      const points = {{info.points}};
      const maxDistance = {{info.maxDistance}};
      const spellPower = {{info.spellPower}};
      const maxHealth = {{info.maxHealth}};
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="/assets/maker.js" type="text/babel"></script>
</body>
</html>